[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
tweepy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
google-api-python-client = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
